.btn-area
  .d-flex.flex-column.flex-md-row.lead.mb-3
    = link_to "create new product!"  , new_product_path, class: "btn btn-lg btn-bd-purple mb-3 mb-md-0 mr-md-3"
    = link_to "create new shops!", new_shop_path, class: "btn btn-lg btn-outline-secondary"


= render @products
/ - @products.each do |product|
/     .products
/       p
/         = link_to product.name + "edit" , edit_product_path(product)
/       p
/         = link_to product.name + "destoroy" , "/products/#{product.id}", method: :delete
